@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Muli', sans-serif;
  background-color: #FFF;
  overflow-x: hidden;
  overflow-y: auto; }

.container-width {
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto; }

h1 {
  font-size: 4em;
  font-weight: 900; }
  h1 span {
    display: block; }

#hero {
  padding-bottom: 10em; }

#navigation {
  transition: background-color 1s linear;
  position: relative;
  background-size: 100% 0%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white);
  transition: 0.5s background-size linear; }
  #navigation.bg-red, #navigation.bg-green, #navigation.bg-blue, #navigation.bg-yellow {
    background-size: 100% 100%; }
  #navigation.bg-red {
    background-image: linear-gradient(#B33127, #B33127); }
  #navigation.bg-green {
    background-image: linear-gradient(#55A360, #55A360); }
  #navigation.bg-blue {
    background-image: linear-gradient(#4C61A1, #4C61A1); }
  #navigation.bg-yellow {
    background-image: linear-gradient(#FFC619, #FFC619); }
  #navigation .section-nav .section-title {
    cursor: pointer;
    font-size: 1.25em;
    padding: .5em 0;
    transform: translateX(0) translateY(0); }
    #navigation .section-nav .section-title span {
      display: inline-block;
      width: 4em;
      text-align: center; }
    #navigation .section-nav .section-title.bg-red {
      border-bottom: 0.2em solid #B33127;
      position: relative; }
      #navigation .section-nav .section-title.bg-red:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #B33127;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition: transform 0.3s; }
      #navigation .section-nav .section-title.bg-red span:before {
        content: attr(data-content); }
      #navigation .section-nav .section-title.bg-red:hover, #navigation .section-nav .section-title.bg-red.wave, #navigation .section-nav .section-title.bg-red.focused {
        color: #fff; }
      #navigation .section-nav .section-title.bg-red:hover:before, #navigation .section-nav .section-title.bg-red.wave:before {
        transform: scaleY(1) skew(0deg); }
      #navigation .section-nav .section-title.bg-red.focused span:before {
        content: "\2014"; }
      #navigation .section-nav .section-title.bg-red.focused:hover {
        color: #000; }
    #navigation .section-nav .section-title.bg-green {
      border-bottom: 0.2em solid #55A360;
      position: relative; }
      #navigation .section-nav .section-title.bg-green:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #55A360;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition: transform 0.3s; }
      #navigation .section-nav .section-title.bg-green span:before {
        content: attr(data-content); }
      #navigation .section-nav .section-title.bg-green:hover, #navigation .section-nav .section-title.bg-green.wave, #navigation .section-nav .section-title.bg-green.focused {
        color: #fff; }
      #navigation .section-nav .section-title.bg-green:hover:before, #navigation .section-nav .section-title.bg-green.wave:before {
        transform: scaleY(1) skew(0deg); }
      #navigation .section-nav .section-title.bg-green.focused span:before {
        content: "\2014"; }
      #navigation .section-nav .section-title.bg-green.focused:hover {
        color: #000; }
    #navigation .section-nav .section-title.bg-blue {
      border-bottom: 0.2em solid #4C61A1;
      position: relative; }
      #navigation .section-nav .section-title.bg-blue:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #4C61A1;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition: transform 0.3s; }
      #navigation .section-nav .section-title.bg-blue span:before {
        content: attr(data-content); }
      #navigation .section-nav .section-title.bg-blue:hover, #navigation .section-nav .section-title.bg-blue.wave, #navigation .section-nav .section-title.bg-blue.focused {
        color: #fff; }
      #navigation .section-nav .section-title.bg-blue:hover:before, #navigation .section-nav .section-title.bg-blue.wave:before {
        transform: scaleY(1) skew(0deg); }
      #navigation .section-nav .section-title.bg-blue.focused span:before {
        content: "\2014"; }
      #navigation .section-nav .section-title.bg-blue.focused:hover {
        color: #000; }
    #navigation .section-nav .section-title.bg-yellow {
      border-bottom: 0.2em solid #FFC619;
      position: relative; }
      #navigation .section-nav .section-title.bg-yellow:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #FFC619;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition: transform 0.3s; }
      #navigation .section-nav .section-title.bg-yellow span:before {
        content: attr(data-content); }
      #navigation .section-nav .section-title.bg-yellow:hover, #navigation .section-nav .section-title.bg-yellow.wave, #navigation .section-nav .section-title.bg-yellow.focused {
        color: #fff; }
      #navigation .section-nav .section-title.bg-yellow:hover:before, #navigation .section-nav .section-title.bg-yellow.wave:before {
        transform: scaleY(1) skew(0deg); }
      #navigation .section-nav .section-title.bg-yellow.focused span:before {
        content: "\2014"; }
      #navigation .section-nav .section-title.bg-yellow.focused:hover {
        color: #000; }

.hidden {
  display: none; }

#section-container {
  min-height: calc(100vh-4em);
  padding: 1em; }
  #section-container .title {
    font-size: 3em;
    font-weight: 800;
    padding-bottom: 0.5em; }
    #section-container .title.red span {
      border-bottom: 0.1em solid #B33127; }
    #section-container .title.green span {
      border-bottom: 0.1em solid #55A360; }
    #section-container .title.blue span {
      border-bottom: 0.1em solid #4C61A1; }
    #section-container .title.yellow span {
      border-bottom: 0.1em solid #FFC619; }

.flexbox-grid {
  display: flex; }
  .flexbox-grid .left-col {
    width: 40%;
    font-weight: 400;
    padding-right: 0.25em; }
  .flexbox-grid .right-col {
    width: 60%;
    padding-left: 0.25em; }

.work {
  border-radius: 4px;
  background-color: #EFF0F1;
  cursor: pointer;
  padding: 0.5em;
  margin: 0.5em 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s linear; }
  .work .work-name {
    font-size: 1.1em;
    font-weight: 600; }
  .work .subtitle {
    font-size: 0.8em; }
  .work:hover {
    background-color: #dadedf; }
  .work:active, .work.active {
    border-bottom: 2px solid #B33127; }

.work-card-container {
  padding: 4em 2em 0; }
  .work-card-container .card {
    max-width: 30em;
    margin: 1em auto;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3), 0 1em 0.75em rgba(0, 0, 0, 0.22);
    background-color: white;
    border-radius: 4px;
    position: relative; }
    .work-card-container .card .card-logo {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -4em;
      width: 8em;
      height: 8em;
      border-radius: 100px;
      background-size: cover; }
    .work-card-container .card .card-body {
      padding: 4.5em 1.5em 1.5em; }
      .work-card-container .card .card-body .card-title, .work-card-container .card .card-body .card-subtitle, .work-card-container .card .card-body .card-dates, .work-card-container .card .card-body .card-stack {
        text-align: center; }
      .work-card-container .card .card-body .card-title {
        font-size: 1.2em;
        font-weight: 600; }
      .work-card-container .card .card-body .card-subtitle {
        font-weight: 500;
        color: #777; }
      .work-card-container .card .card-body .card-dates {
        padding-top: 0.25em;
        font-size: 0.7em;
        color: #BBB; }
      .work-card-container .card .card-body .card-blurb, .work-card-container .card .card-body .card-stack {
        font-size: 0.9em; }
      .work-card-container .card .card-body code {
        font-size: 1.2em; }
      .work-card-container .card .card-body ul {
        padding-inline-start: 1.2em; }
    .work-card-container .card .card-divider {
      border-top: 1px solid #EFF0F1;
      margin: 0.5em 2em; }

#expensify .card-logo {
  background-image: url("../assets/logos/expensify.png"); }

#zappos .card-logo {
  background-image: url("../assets/logos/zappos.jpg"); }

#eazyfriday .card-logo {
  background-image: url("../assets/logos/eazyfriday.jpg"); }

#wustl .card-logo {
  background-image: url("../assets/logos/wustl.jpg"); }

#kraudesorce .card-logo {
  background-image: url("../assets/logos/kraudesorce.jpg"); }

#turnstyle .card-logo {
  background-image: url("../assets/logos/turnstyle.png"); }

.skill-title {
  font-weight: 600;
  font-size: 1.3em;
  padding-bottom: 1em; }

.skill-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  padding: 0.5em; }
  .skill-group .skill {
    margin-bottom: 0.5em; }
    .skill-group .skill .img-skill {
      margin: 0.5em 1em 0.25em;
      max-width: 3em;
      transition: all .4s linear;
      -webkit-filter: contrast(2%);
      filter: contrast(2%); }
      .skill-group .skill .img-skill:hover {
        filter: contrast(100%);
        -webkit-filter: contrast(100%); }
    .skill-group .skill span {
      display: block;
      font-size: 0.8em;
      transition: all .3s linear;
      opacity: 0; }
    .skill-group .skill .img-skill:hover + span {
      opacity: 1; }

.photo-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: none; }
  .photo-modal.hidden {
    display: none; }
  .photo-modal .modal-content {
    display: block;
    width: 80%;
    max-width: 1000px;
    margin: auto; }
    .photo-modal .modal-content .pinch-zoom-container {
      height: 30em; }
    .photo-modal .modal-content .img-container {
      max-height: 700px; }
      .photo-modal .modal-content .img-container img {
        width: 100%;
        height: 100%; }
    .photo-modal .modal-content .caption-container {
      width: 100%;
      display: flex;
      font-size: 0.8em;
      margin: auto;
      padding-top: 2em;
      justify-content: space-between; }
      .photo-modal .modal-content .caption-container .caption {
        color: #777; }
      .photo-modal .modal-content .caption-container a {
        text-decoration: underline;
        cursor: pointer; }

#thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0; }
  #thumbnail-container .thumb {
    box-sizing: border-box;
    border: 0.1em solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: calc(100% / 3);
    overflow: hidden; }
    #thumbnail-container .thumb img {
      transition: all 500ms linear;
      width: 100%;
      cursor: pointer; }
    #thumbnail-container .thumb:hover img {
      transform: scale(1.1); }

.form-container {
  border: 2px solid black;
  border-radius: 2px;
  margin: 0 auto;
  text-align: center;
  max-width: 20em; }
  .form-container input, .form-container textarea {
    border: none;
    border-radius: 2px;
    font-size: 0.8em;
    box-sizing: border-box;
    display: block;
    margin: 2em;
    padding: 0.4em; }
  .form-container input[type="email"], .form-container textarea {
    background-color: #EFF0F1;
    border-bottom: 1px solid #C5CCCD;
    width: calc(100% - 4em); }
  .form-container input[type="submit"] {
    color: #FFF;
    background-color: #FFC619;
    margin-left: auto;
    padding: .5em 1em; }

.contact-blurb a {
  color: #000; }

.fade-out-bottom {
  animation: fade-out-bottom 0.5s ease-in-out both; }

@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(50px);
    opacity: 0; } }
.fade-in-bottom {
  animation: fade-in-bottom 0.5s ease-in-out both; }

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@media screen and (max-width: 40em) {
  .flexbox-grid {
    display: block; }
    .flexbox-grid .left-col, .flexbox-grid .right-col, .flexbox-grid .mid-col {
      width: 100%;
      padding: 0; }

  .work-card-container {
    padding: 5em 0 0; }
    .work-card-container .card {
      width: initial; }

  .skill-group .skill .img-skill {
    max-width: 2em;
    margin: 0.25em 0.5em; }
  .skill-group .skill span {
    font-size: 0.7em; }

  #thumbnail-container .thumb {
    width: 50%; }

  .photo-modal .modal-content {
    width: 100%; }
    .photo-modal .modal-content .caption-container {
      width: 80%;
      padding-top: 0; }

  .form-container {
    margin: 3em auto;
    width: intial; } }
@media screen and (max-width: 20em) {
  #navigation .section-nav .section-title {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
