@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap");
:root {
  --color-one: $color-white;
  --color-two: $color-white;
  --color-three: $color-white;
  --color-four: $color-white; }

/* 	Loop for delays
	&.delay-X {
		animation-delay: X ms;
	}
*/
/* 	Loop for delays
	&.delay-X {
		animation-delay: X ms;
	}
*/
.slide-in-down {
  animation: slide-in-down 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both; }
  .slide-in-down.delay-500 {
    animation-delay: .5s; }

@keyframes slide-in-down {
  from {
    transform: translateY(-25vh);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.slide-in-up {
  animation: slide-in-up .5s linear both; }

@keyframes slide-in-up {
  from {
    transform: translateY(100vh); }
  to {
    transform: translateY(0); } }
.wipe-in-right {
  animation: wipe-in-right 1s cubic-bezier(1, -0.06, 0.39, 0.39) both; }

@keyframes wipe-in-right {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); } }
.wipe-in-up {
  animation: wipe-in-up 1s linear both;
  animation-delay: 1s; }

@keyframes wipe-in-up {
  0% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  25% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%);
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
.fade-in {
  animation: fade-in 1s linear both; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-in-up {
  animation: fade-in-up 1s ease-in-out both; }
  .fade-in-up.delay-2000 {
    animation-delay: 2000ms; }
  .fade-in-up.delay-2100 {
    animation-delay: 2100ms; }
  .fade-in-up.delay-2200 {
    animation-delay: 2200ms; }
  .fade-in-up.delay-2300 {
    animation-delay: 2300ms; }
  .fade-in-up.delay-2400 {
    animation-delay: 2400ms; }
  .fade-in-up.delay-2500 {
    animation-delay: 2500ms; }
  .fade-in-up.delay-2600 {
    animation-delay: 2600ms; }
  .fade-in-up.delay-2700 {
    animation-delay: 2700ms; }
  .fade-in-up.delay-2800 {
    animation-delay: 2800ms; }
  .fade-in-up.delay-2900 {
    animation-delay: 2900ms; }
  .fade-in-up.delay-3000 {
    animation-delay: 3000ms; }
  .fade-in-up.delay-3100 {
    animation-delay: 3100ms; }
  .fade-in-up.delay-3200 {
    animation-delay: 3200ms; }

@keyframes fade-in-up {
  from {
    transform: translateY(60vh);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.fade-in-left {
  animation: fade-in-left 1s ease-in-out both; }
  .fade-in-left.delay-2000 {
    animation-delay: 2000ms; }
  .fade-in-left.delay-2100 {
    animation-delay: 2100ms; }
  .fade-in-left.delay-2200 {
    animation-delay: 2200ms; }
  .fade-in-left.delay-2300 {
    animation-delay: 2300ms; }
  .fade-in-left.delay-2400 {
    animation-delay: 2400ms; }
  .fade-in-left.delay-2500 {
    animation-delay: 2500ms; }
  .fade-in-left.delay-2600 {
    animation-delay: 2600ms; }
  .fade-in-left.delay-2700 {
    animation-delay: 2700ms; }
  .fade-in-left.delay-2800 {
    animation-delay: 2800ms; }
  .fade-in-left.delay-2900 {
    animation-delay: 2900ms; }
  .fade-in-left.delay-3000 {
    animation-delay: 3000ms; }
  .fade-in-left.delay-3100 {
    animation-delay: 3100ms; }
  .fade-in-left.delay-3200 {
    animation-delay: 3200ms; }
  .fade-in-left.delay-3300 {
    animation-delay: 3300ms; }
  .fade-in-left.delay-3400 {
    animation-delay: 3400ms; }
  .fade-in-left.delay-3500 {
    animation-delay: 3500ms; }
  .fade-in-left.delay-3600 {
    animation-delay: 3600ms; }
  .fade-in-left.delay-3700 {
    animation-delay: 3700ms; }
  .fade-in-left.delay-3800 {
    animation-delay: 3800ms; }
  .fade-in-left.delay-3900 {
    animation-delay: 3900ms; }
  .fade-in-left.delay-4000 {
    animation-delay: 4000ms; }

@keyframes fade-in-left {
  from {
    transform: translateX(40vw);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
.fade-in-right {
  animation: fade-in-right 1s ease-in-out both; }
  .fade-in-right.delay-2000 {
    animation-delay: 2000ms; }
  .fade-in-right.delay-2100 {
    animation-delay: 2100ms; }
  .fade-in-right.delay-2200 {
    animation-delay: 2200ms; }
  .fade-in-right.delay-2300 {
    animation-delay: 2300ms; }
  .fade-in-right.delay-2400 {
    animation-delay: 2400ms; }
  .fade-in-right.delay-2500 {
    animation-delay: 2500ms; }
  .fade-in-right.delay-2600 {
    animation-delay: 2600ms; }
  .fade-in-right.delay-2700 {
    animation-delay: 2700ms; }
  .fade-in-right.delay-2800 {
    animation-delay: 2800ms; }
  .fade-in-right.delay-2900 {
    animation-delay: 2900ms; }
  .fade-in-right.delay-3000 {
    animation-delay: 3000ms; }
  .fade-in-right.delay-3100 {
    animation-delay: 3100ms; }
  .fade-in-right.delay-3200 {
    animation-delay: 3200ms; }
  .fade-in-right.delay-3300 {
    animation-delay: 3300ms; }
  .fade-in-right.delay-3400 {
    animation-delay: 3400ms; }
  .fade-in-right.delay-3500 {
    animation-delay: 3500ms; }
  .fade-in-right.delay-3600 {
    animation-delay: 3600ms; }
  .fade-in-right.delay-3700 {
    animation-delay: 3700ms; }
  .fade-in-right.delay-3800 {
    animation-delay: 3800ms; }
  .fade-in-right.delay-3900 {
    animation-delay: 3900ms; }
  .fade-in-right.delay-4000 {
    animation-delay: 4000ms; }
  .fade-in-right.delay-4100 {
    animation-delay: 4100ms; }
  .fade-in-right.delay-4200 {
    animation-delay: 4200ms; }
  .fade-in-right.delay-4300 {
    animation-delay: 4300ms; }
  .fade-in-right.delay-4400 {
    animation-delay: 4400ms; }
  .fade-in-right.delay-4500 {
    animation-delay: 4500ms; }

@keyframes fade-in-right {
  from {
    transform: translateX(-40vw);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }
.slide-out-bottom {
  animation: slide-out-bottom .5s ease-in-out both; }

@keyframes slide-out-bottom {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(100vh); } }
.fade-out-bottom {
  animation: fade-out-bottom .5s linear both; }

@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0;
    transform: translateY(100vh); } }
.fade-out-right {
  animation: fade-out-right .5s linear both; }

@keyframes fade-out-right {
  from {
    transform: translateX(0);
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(50vh); } }
.fade-out {
  animation: fade-out 1.5s linear both; }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth; }

h1 {
  font-size: 4em;
  font-weight: 900; }
  h1 span {
    display: block; }

.container-width {
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto; }
  .container-width.no-padding {
    padding: 0; }

.hidden {
  display: none; }

.bucket {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 3em;
  height: 3em;
  z-index: 2;
  transition: all .3s linear;
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }
  .bucket div .bucket-tooltip-assist, .bucket .bucket-tooltip-action {
    opacity: 0;
    margin-right: .5em;
    white-space: nowrap;
    padding: .25em .5em;
    border-radius: .5em;
    background-color: #fff; }
  .bucket img {
    border-radius: .5em;
    opacity: .4;
    width: 100%;
    cursor: pointer;
    transition: transform .3s linear;
    transform: rotate(0deg); }
    .bucket img:hover {
      transform: rotate(23deg); }
    .bucket img:active {
      opacity: .6; }
  .bucket.default-colors .bucket-tooltip-action {
    display: none; }
  .bucket.default-colors:hover .bucket-tooltip-assist {
    animation: fade-in .3s linear;
    opacity: 1; }
  .bucket.changed div .bucket-tooltip-action {
    display: block; }
  .bucket.changed div .bucket-tooltip-assist {
    display: none; }

.flexbox-grid {
  display: flex; }
  .flexbox-grid .left-col, .flexbox-grid .right-col {
    box-sizing: border-box; }
  .flexbox-grid .left-col {
    width: 40%;
    padding-right: .5em; }
  .flexbox-grid .right-col {
    width: 60%;
    padding-left: .5em; }
    .flexbox-grid .right-col.extra-padding {
      padding-left: 4em; }

#hero {
  padding-bottom: 10em; }

#navigation {
  position: relative;
  background-size: 100% 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#fff, #fff);
  transition: background-size .4s linear, background-image .4s linear;
  -webkit-user-select: none;
  user-select: none; }
  #navigation[data-bg-color="one"], #navigation[data-bg-color="two"], #navigation[data-bg-color="three"], #navigation[data-bg-color="four"] {
    background-size: 100% 100%;
    width: 100%; }
  #navigation[data-bg-color="one"] {
    background-image: linear-gradient(var(--color-one), var(--color-one)); }
  #navigation[data-bg-color="two"] {
    background-image: linear-gradient(var(--color-two), var(--color-two)); }
  #navigation[data-bg-color="three"] {
    background-image: linear-gradient(var(--color-three), var(--color-three)); }
  #navigation[data-bg-color="four"] {
    background-image: linear-gradient(var(--color-four), var(--color-four)); }
  #navigation .section-nav {
    font-size: 1.25em;
    padding: .5em 1em .5em; }
    #navigation .section-nav .section-title {
      cursor: pointer;
      padding: .5em 0 .3em;
      transform: translateX(0) translateY(0); }
      #navigation .section-nav .section-title span {
        display: inline-block;
        width: 4em;
        text-align: center; }
      #navigation .section-nav .section-title[data-bg-color="one"] {
        border-bottom: 0.2em solid var(--color-one);
        box-sizing: border-box;
        position: relative; }
        #navigation .section-nav .section-title[data-bg-color="one"]:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: var(--color-one);
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
        #navigation .section-nav .section-title[data-bg-color="one"] span:before {
          content: attr(data-content); }
        #navigation .section-nav .section-title[data-bg-color="one"].wave {
          color: #fff;
          transition-duration: .4s; }
          #navigation .section-nav .section-title[data-bg-color="one"].wave:before {
            transform: scaleY(1) skew(0deg); }
        @media (hover: hover) {
          #navigation .section-nav .section-title[data-bg-color="one"]:hover {
            color: #fff;
            transition-duration: .4s; }
            #navigation .section-nav .section-title[data-bg-color="one"]:hover:before {
              transform: scaleY(1) skew(0deg); } }
        #navigation .section-nav .section-title[data-bg-color="one"].active span:before {
          content: '\00d7'; }
      #navigation .section-nav .section-title[data-bg-color="two"] {
        border-bottom: 0.2em solid var(--color-two);
        box-sizing: border-box;
        position: relative; }
        #navigation .section-nav .section-title[data-bg-color="two"]:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: var(--color-two);
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
        #navigation .section-nav .section-title[data-bg-color="two"] span:before {
          content: attr(data-content); }
        #navigation .section-nav .section-title[data-bg-color="two"].wave {
          color: #fff;
          transition-duration: .4s; }
          #navigation .section-nav .section-title[data-bg-color="two"].wave:before {
            transform: scaleY(1) skew(0deg); }
        @media (hover: hover) {
          #navigation .section-nav .section-title[data-bg-color="two"]:hover {
            color: #fff;
            transition-duration: .4s; }
            #navigation .section-nav .section-title[data-bg-color="two"]:hover:before {
              transform: scaleY(1) skew(0deg); } }
        #navigation .section-nav .section-title[data-bg-color="two"].active span:before {
          content: '\00d7'; }
      #navigation .section-nav .section-title[data-bg-color="three"] {
        border-bottom: 0.2em solid var(--color-three);
        box-sizing: border-box;
        position: relative; }
        #navigation .section-nav .section-title[data-bg-color="three"]:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: var(--color-three);
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
        #navigation .section-nav .section-title[data-bg-color="three"] span:before {
          content: attr(data-content); }
        #navigation .section-nav .section-title[data-bg-color="three"].wave {
          color: #fff;
          transition-duration: .4s; }
          #navigation .section-nav .section-title[data-bg-color="three"].wave:before {
            transform: scaleY(1) skew(0deg); }
        @media (hover: hover) {
          #navigation .section-nav .section-title[data-bg-color="three"]:hover {
            color: #fff;
            transition-duration: .4s; }
            #navigation .section-nav .section-title[data-bg-color="three"]:hover:before {
              transform: scaleY(1) skew(0deg); } }
        #navigation .section-nav .section-title[data-bg-color="three"].active span:before {
          content: '\00d7'; }
      #navigation .section-nav .section-title[data-bg-color="four"] {
        border-bottom: 0.2em solid var(--color-four);
        box-sizing: border-box;
        position: relative; }
        #navigation .section-nav .section-title[data-bg-color="four"]:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: var(--color-four);
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
        #navigation .section-nav .section-title[data-bg-color="four"] span:before {
          content: attr(data-content); }
        #navigation .section-nav .section-title[data-bg-color="four"].wave {
          color: #fff;
          transition-duration: .4s; }
          #navigation .section-nav .section-title[data-bg-color="four"].wave:before {
            transform: scaleY(1) skew(0deg); }
        @media (hover: hover) {
          #navigation .section-nav .section-title[data-bg-color="four"]:hover {
            color: #fff;
            transition-duration: .4s; }
            #navigation .section-nav .section-title[data-bg-color="four"]:hover:before {
              transform: scaleY(1) skew(0deg); } }
        #navigation .section-nav .section-title[data-bg-color="four"].active span:before {
          content: '\00d7'; }

#section-container .title {
  margin-bottom: 2em; }
  #section-container .title .text-container {
    font-size: 2em;
    font-weight: 900;
    padding: 0 .5em;
    text-align: center;
    position: relative; }
    #section-container .title .text-container .text-underline {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; }
      #section-container .title .text-container .text-underline.bg-one {
        width: 3.5em;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--color-one) 0%, var(--color-one) 20%, rgba(0, 0, 0, 0) 20%); }
      #section-container .title .text-container .text-underline.bg-two {
        width: 3.5em;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--color-two) 0%, var(--color-two) 20%, rgba(0, 0, 0, 0) 20%); }
      #section-container .title .text-container .text-underline.bg-three {
        width: 7.5em;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--color-three) 0%, var(--color-three) 20%, rgba(0, 0, 0, 0) 20%); }
      #section-container .title .text-container .text-underline.bg-four {
        width: 5.5em;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--color-four) 0%, var(--color-four) 20%, rgba(0, 0, 0, 0) 20%); }
#section-container #work *::selection {
  background-color: var(--color-one);
  color: #fff; }
#section-container #skills *::selection {
  background-color: var(--color-two);
  color: #fff; }
#section-container #photos *::selection {
  background-color: var(--color-three);
  color: #fff; }
#section-container #about *::selection {
  background-color: var(--color-four); }
#section-container.active .bucket {
  bottom: 1em;
  right: 1em;
  width: 2em;
  height: 2em; }
  #section-container.active .bucket .bucket-tooltip-assist, #section-container.active .bucket .bucket-tooltip-action {
    top: 0;
    right: 3em; }

.work {
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
  padding: .5em;
  margin: .5em 0;
  border: 2px solid transparent;
  transition: all .3s linear; }
  .work .work-name {
    font-size: 1.1em;
    font-weight: 700; }
  .work .subtitle {
    font-size: .8em; }
  .work:hover {
    background-color: #ddd; }
  .work:active, .work.active {
    border: 2px solid var(--color-one); }

.work-card-container {
  padding: 4em 2em 0; }
  .work-card-container .card {
    max-width: 30em;
    margin: 1em auto;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 4px;
    position: relative; }
    .work-card-container .card .card-logo {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -4em;
      width: 8em;
      height: 8em;
      border-radius: 100px;
      border: 2px solid #000;
      background-size: cover; }
    .work-card-container .card .card-body {
      padding: 4.5em 1.5em 1.5em; }
      .work-card-container .card .card-body .card-title, .work-card-container .card .card-body .card-subtitle, .work-card-container .card .card-body .card-dates, .work-card-container .card .card-body .card-stack {
        text-align: center; }
      .work-card-container .card .card-body .card-title {
        font-size: 1.2em;
        font-weight: 700; }
      .work-card-container .card .card-body .card-subtitle {
        color: #777; }
      .work-card-container .card .card-body .card-dates {
        padding-top: .25em;
        font-size: .7em;
        color: #AAA; }
      .work-card-container .card .card-body .card-blurb, .work-card-container .card .card-body .card-stack {
        font-size: .9em; }
      .work-card-container .card .card-body .divider {
        border-top: 1px solid #EEE;
        margin: .5em 2em; }
      .work-card-container .card .card-body code {
        font-size: 1.2em; }
      .work-card-container .card .card-body ul {
        padding-inline-start: 1.2em; }
      .work-card-container .card .card-body a {
        color: #000;
        text-decoration: none;
        padding: 0 2px;
        border-bottom: 1px solid var(--color-one);
        position: relative;
        z-index: 1; }
        .work-card-container .card .card-body a:before {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-image: linear-gradient(0deg, var(--color-one) 0%, var(--color-one) 100%, #fff 100%);
          z-index: -1;
          transition: all .2s linear;
          transform: scaleY(0);
          transform-origin: 50% 100%; }
        .work-card-container .card .card-body a:hover {
          transition: all .2s linear;
          color: #fff; }
        .work-card-container .card .card-body a:hover:before {
          transform: scaleY(1); }

#expensify .card-logo {
  background-image: url("../assets/logos/expensify.png"); }

#zappos .card-logo {
  background-image: url("../assets/logos/zappos.png"); }

#eazyfriday .card-logo {
  background-image: url("../assets/logos/eazyfriday.jpg"); }

#wustl .card-logo {
  background-image: url("../assets/logos/wustl.jpg"); }

#kraudesorce .card-logo {
  background-image: url("../assets/logos/kraudesorce.jpg"); }

#turnstyle .card-logo {
  background-image: url("../assets/logos/turnstyle.png"); }

.skill-title, .work-title {
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 2px;
  color: #777;
  font-weight: 700;
  margin-bottom: .25em; }

.work-title {
  font-weight: 400;
  letter-spacing: 2px;
  margin: 2.5em 0 .5em;
  font-family: sans-serif; }

.skill-group {
  margin-bottom: 1em; }
  .skill-group .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center; }
    .skill-group .icons .skill .img-skill {
      margin: .5em .55em;
      max-width: 3em;
      transition: all .4s linear;
      filter: contrast(65%); }
      .skill-group .icons .skill .img-skill:hover {
        filter: contrast(100%); }
    .skill-group .icons .skill span {
      display: block;
      font-size: .8em;
      transition: all .3s linear;
      opacity: 0; }
    .skill-group .icons .skill .img-skill:hover + span {
      opacity: 1; }

.photo-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  left: 0;
  top: 0;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23); }
  .photo-modal.hidden {
    display: none; }
  .photo-modal .modal-content {
    display: block;
    width: 100%;
    margin: auto; }
    .photo-modal .modal-content .photo-container {
      height: 80vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
    .photo-modal .modal-content .caption-container {
      width: 80%;
      display: flex;
      font-size: .8em;
      margin: auto;
      max-width: 1000px;
      padding-top: 2em;
      justify-content: space-between; }
      .photo-modal .modal-content .caption-container .modal-close-btn {
        text-decoration: underline;
        cursor: pointer; }

#thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0; }
  #thumbnail-container .thumb {
    box-sizing: border-box;
    border: 0.1em solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: calc(100% / 3);
    overflow: hidden; }
    #thumbnail-container .thumb img {
      transition: all 1s ease-in-out;
      width: 100%;
      cursor: pointer; }
    #thumbnail-container .thumb:hover img {
      transform: scale(1.1); }

.social {
  text-align: right; }
  .social h2 {
    margin-bottom: 0; }
  .social a {
    color: #000;
    text-decoration: none;
    padding: 0 2px;
    border-bottom: 1px solid var(--color-four);
    position: relative;
    z-index: 1; }
    .social a:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(0deg, var(--color-four) 0%, var(--color-four) 100%, #fff 100%);
      z-index: -1;
      transition: all .2s linear;
      transform: scaleY(0);
      transform-origin: 50% 100%; }
    .social a:hover {
      transition: all .2s linear;
      color: #000; }
    .social a:hover:before {
      transform: scaleY(1); }

.about-blurb p:nth-of-type(0) {
  margin-top: 0; }
.about-blurb .tilt:hover {
  display: inline-block;
  transform: rotate(-20deg);
  transform-origin: 35% 50%;
  transition: transform .2s linear; }

.me {
  height: 20em;
  width: 100%;
  margin: 1.25em 0;
  background-image: url("../assets/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-image .3s ease-in-out; }
  .me:hover {
    background-image: url("../assets/me.gif"); }

@media screen and (max-width: 56em) {
  .skill-group .icons .skill .img-skill {
    max-width: 2.4em; }

  .bucket {
    width: 2.5em;
    height: 2.5em;
    bottom: 1.5em;
    right: 1.5em; }
    .bucket .bucket-tooltip-assist, .bucket .bucket-tooltip-action {
      top: 0;
      right: 3em; } }
@media screen and (max-width: 40em) {
  .flexbox-grid {
    display: block; }
    .flexbox-grid .left-col, .flexbox-grid .right-col {
      width: 100%;
      padding: 0; }
      .flexbox-grid .left-col.extra-padding, .flexbox-grid .right-col.extra-padding {
        padding: 0; }

  .work-card-container {
    padding: 5em 0 0; }
    .work-card-container .card {
      width: initial; }
      .work-card-container .card .card-body {
        padding: 4.5em 1em 1em; }

  .skill-group {
    margin-bottom: 0; }
    .skill-group .icons {
      padding: .5em 0; }
      .skill-group .icons .skill .img-skill {
        max-width: 2em;
        margin: .25em .5em; }
      .skill-group .icons .skill span {
        font-size: 0.7em; }

  #thumbnail-container .thumb {
    width: 50%; }

  .photo-modal .modal-content .caption-container {
    padding-top: 0; }

  .me {
    max-height: 14em;
    background-position: center; } }
@media screen and (max-width: 24em) {
  #navigation .section-nav {
    font-size: 1.1em; }

  #section-container.active .bucket {
    display: none; } }
@media screen and (max-width: 21em) {
  #navigation .section-nav {
    font-size: 1em; } }
@media screen and (max-width: 19em) {
  h1 {
    font-size: 3.5em; }

  #navigation .section-nav {
    font-size: .9em; } }

/*# sourceMappingURL=style.css.map */
