@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

::selection {
	background:rgba(116, 244, 158, 0.8);
	text-shadow:none;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
	font-family:'Source Sans Pro', sans-serif;
	background-color:#F3F3F3;
}

/* anchor tag aimation */
a, a:hover, .name-role, .exp-text a{
	color:#d73444;
	position:relative;
	transition:0.5s color ease;
	cursor:pointer;
	text-decoration:none;
}

a.before:before{
	top:-0.05em;
	right:0;
}
a.after:after{
	bottom:-0.05em;
	left:0;
}
a.before:before,a.after:after{
	height:2px;
	background:#d73444;
	content: "";
	transition:0.5s all ease;
	position:absolute;
}
a.before:hover:before,a.after:hover:after{
	width:100%;
}

.panel {
	min-height:100vh;
	width:100%;
}

.half-panel {
	min-height:50vh;
	width:100%;
}

.quarter-panel{
	width:100%;
	min-height:25vh;
}

.panel-header {
	font-size:3em;
	font-weight:300;
	margin:15px 0 15px 0;
}

.name-intro {
	font-size:4em;
	line-height:0.9;
	font-weight:300;
}

.arrow-intro {
	position:absolute;
	top:90%;
	width: 100%;
}
.arrow {
	margin: 0 auto;
	width:60px;
	-webkit-animation: pulse 1s alternate infinite;
	animation: pulse 1s alternate infinite;
}

.panel-invert {
	background-color:#31302B;
	color:#FFF;
}

.panel-footer {
	font-size:1em;
	font-weight:300;
}

svg {
	font: 14em/1 Source Sans Pro;
	font-weight: 200;
	position: absolute;
	width: 100%;
	height: 100%;
}

.text-copy {
	fill: rgba(0,0,0,0);
	-webkit-transition:all 2s linear;
	transition:all 2s linear;
	stroke-dasharray: 7% 28%;
	stroke-width: 5px;
	-webkit-animation: stroke-offset 5s  linear;
	animation: stroke-offset 5s  linear;
}
.text-copy:nth-child(1) {
	stroke: #31302B;
	stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
	stroke: #31302B;
	stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
	stroke: #31302B;
	stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
	stroke: #31302B;
	stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
	stroke: #31302B;
	stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
	0% {
		stroke-dashoffset: 35%;
		stroke-dasharray: 0 87.5%;
	}
}

@keyframes stroke-offset {
	0% {
		stroke-dashoffset: 35%;
		stroke-dasharray: 0 87.5%;
	}
}

.strike {
	text-decoration:line-through;
}

.me-btn {
	margin-top:10px;
	margin-bottom:15px;
}

.me-btn a{
	box-sizing:border-box;
	color:#F3F3F3;
	padding:10px;
	width:150px;
	background-color:#31302B;
	border:3px solid #F3F3F3;
	display:inline-block;
	box-shadow:inset 0 0 0 0 #F3F3F3;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

.me-btn a:hover {
	box-shadow:inset 0 50px 0 0 #F3F3F3;
	color:#31302B;
}

.project-btn, .me-btn, .project-btn a, .img-container, .text-center, .arrow-intro {
	text-align:center;
}

.project-btn a{
	box-sizing:border-box;
	color:#31302B;
	background:#FFF;
	padding:10px;
	min-width:200px;
	border:3px solid #31302B;
	display:inline-block;
	margin:5px 0;
	box-shadow:inset 0 0 0 0 #31302B;
	-webkit-transition:all linear 1s;
	transition:all linear 1s;
}

.active {
	box-shadow:inset 250px 0 0 0 #31302B;
	color:#F3F3F3;
	cursor:initial;
}

.me-btn a:hover {
	text-decoration:none;
}

.project-description{
	margin-top:0;
}

.img-container, .my-container, .img-placeholder, .img-contact {
	margin:0 auto;
}

.img-container .col-md-4, .spinner {
	position:relative;
}

.laptop-screen {
	position:absolute;
	top:9%;
	left:14.6%;
	width:70.8%;
	height:78.1%;
}

.iphone {
	position:absolute;
	z-index:1;
	left:0;
	width:auto;
}

.iphone-screen {
	position:absolute;
	top:62px;
	z-index:2;
	left:5.75%;
	width:46.2%;
}

.text-medium, .project-text {
	font-size:1.2em;
}
.text-small {
	font-size:0.5em;
}

.project-links {
	width:100%;
	margin:auto;
	display:flex;
	justify-content:center;
	vertical-align:middle;
}

.project-links img {
	width:40px;
	height:auto;
	opacity:1;
	-webkit-transition:all .3s linear;
	transition:all .3s linear;
}

.project-links img:hover {
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}

.my-container {
	vertical-align:middle;
	max-width:100%;
	height:auto;
	border:7px solid #68665b;
	border-radius:50%;
}

/* skills panel */
.img-skill{
	margin:10px auto;
	max-width:50px;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
	-webkit-filter:contrast(2%);
	filter:contrast(2%);
}

.bottom-row{
	margin-bottom:30px;
}

.skill-hover{
	opacity:0;
	font-size:1.5em;
	-webkit-transform:none;
	transform:none;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.img-placeholder{
	width:400px;
}

/* experience panel */
#googlemaps, #bg-filter{
	height:50px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#bg-filter{
	top:-1px;
	background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.gmnoprint, .gm-style-cc, .name-intro, #googlemaps,.arrow, #bg-filter, .exp-body, .project-container {
	display:none;
}

.exp-overlay{
	z-index:999;
}

.exp-header span{
	transition:all 1s linear;
	-webkit-transition:all 1s linear;
}

.exp-overlay .panel-header{
	padding:0 10px 2px 10px;
}
.exp-overlay a,.exp-overlay span{
	box-sizing:border-box;
	border:0 solid black;
	-webkit-transition:all 1s linear;
	transition:all 1s linear;
}
.text-right {
	text-align:right;
}

.img-exp{
	margin:10px auto;
	width:80%;
}
.exp-title{
	font-size:2em;
}
.exp-body span, .exp-description{
	background-color:rgba(49,48,43,0.8);
	color:#FFF;
}

.exp-title .hidden-lg .hidden-md{
	background:initial;
}

.exp-date{
	padding-right:5px;
}

.exp-description, .exp-text {
	padding:5px;
}
.exp-description li{
	transform:translateX(-18px);
	-webkit-transform:translateX(-18px);
}

.exp-btn a{
	box-sizing:border-box;
	color:#31302B;
	background:#FFF;
	padding:10px;
	min-width:200px;
	border:3px solid #31302B;
	display:inline-block;
	margin:5px 0;
	-webkit-transition:all linear 1s;
	transition:all linear 1s;
}

.exp-title, .exp-position{
	padding:2px 8px 0 8px;
}

/* footer panel */
.img-contact {
	width:50px;
	height:auto;
	-webkit-transition:all .3s linear;
	transition:all .3s linear;
	-webkit-filter:contrast(0%);
	filter:contrast(0%);
}

.img-contact:hover, .img-skill:hover {
	filter:contrast(100%);
	-webkit-filter:contrast(100%);
}

@keyframes rotate {
	from {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes pulse {
	0% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	100% {
		-webkit-transform:scale(1.3);
		transform:scale(1.3);
	}
}

.img-contact:hover {
	animation:rotate 3s linear infinite;
	-webkit-animation:rotate 3s linear infinite;
}

@media only screen and (max-width :768px) {
	.iphone-container {
		display:none;
	}
	.project-btn a, .exp-btn a{
		min-width:130px;
		border-width:2px;
	}
	.project-btn{
		width:50%;
	}
	.name-intro{
		font-size:2.7em;
	}
	.my-container, .img-exp{
		max-width:60%;
		border-width:5px;
	}
	.img-skill{
		width:110%;
	}
	.laptop-screen {
		top:9%;
		left:15.8%;
		width:68.4%;
		height:78.1%;
	}
	.me-btn a{
		width: 100px;
	}
}

@media only screen and (min-width :768px) and (max-width :1024px) and (orientation :landscape) {
	.iphone-screen {
		top:50px;
	}
}
