/* @font-face {
font-family: 'Source Sans Pro';
src: url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
} */


::selection{
	background: #a8f4c5;
	text-shadow: none;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	background-color:#F3F3F3;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #d34133;
}

a:hover {
	color: #d34133;
}

.panel {
	min-height: 100vh;
	width:100%;
}

.half-panel {
	min-height: 50vh;
	width:100%;
}

.quarter-panel{
	width:100%;
	min-height: 25vh;
}

.panel-header {
	font-size: 3em;
	font-weight: 300;
	margin: 15px 0 15px 0;
}

.panel-intro {
	display:flex;
	justify-content:center;
	align-items: center;
	transition: all .5s linear;
}

.name-intro {
	font-size: 4em;
	line-height: 0.9;
	font-weight: 300;
}
.name-role{
	color: #d34133;
}
.arrow-intro {
	position: absolute;
	top:90%;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
}

.arrow {
	display:block;
	margin: 0 auto;
	width: 60px;
	max-width: 10%;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
}
.arrow:hover {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

.panel-invert {
	background-color:#31302B;
	color: #FFFFFF;
}

.panel-footer {
	background-color:#31302B;
	font-size: 1em;
	font-weight:300;
	/* color: #a4a4a4; */
}

.strike {
	text-decoration: line-through;
}

.me-btn {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}

.me-btn a {
	box-sizing: border-box;
	color:#F3F3F3;
	padding:10px;
	min-width:100px;
	background-color:#31302B;
	border: 3px solid #F3F3F3;
	border-radius: 5px;
	display: inline-block;
	box-shadow: inset 0 0 0 0 #F3F3F3;
	-webkit-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.me-btn a:hover {
	text-decoration:none;
	box-shadow: inset 200px 0 0 0 #F3F3F3;
	color:#31302B;
}

.project-btn {
	text-align: center;
}

.project-btn a {
	box-sizing: border-box;
	color: #31302B;
	background: #FFF;
	padding: 10px;
	min-width: 250px;
	text-align: center;
	border: 3px solid #31302B;
	border-radius: 5px;
	display: inline-block;
	margin: 5px 0;
	box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.active{
	box-shadow: inset 250px 0 0 0 #31302B;
	color: #F3F3F3;
}

.project-btn a:hover {
	text-decoration:none;
}

.project-description{
	margin-top:0;
}

.img-container {
	margin: 0 auto;
	text-align: center;	
}

.img-container .col-md-4 {
	position: relative; 
}

.laptop-screen {
	position: absolute;
	top: 9%; 
	left: 14.6%;
	width: 70.8%;
	height:78.1%;
}

.iphone {
	position:absolute;
	z-index:1;
	left:0;
	width:auto;
}  

.iphone-screen {
	position:absolute;
	top:60px;
	z-index:2;
	left:6%;
	width:45.9%;
	min-height:103%; 
}

.iphone-screen-2, .laptop-screen-2{
	display:none;
}

.text-center {
	text-align: center;
}

.text-medium {
	font-size: 1.2em;
}

.project-text {
	font-size: 1.2em;
}

.project-links {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	vertical-align: center;
}

.project-links img {
	width: 40px;
	height: auto;
	opacity: 1;

	transition: all .3s ease-in-out;
}

.project-links img:hover {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

.my-container {
	vertical-align: middle;
	margin: 0 auto;
	max-width: 100%;
	max-height: auto;
	border:7px solid #68665b;
	border-radius: 500px;
}

.img-skill{
	margin: 10px auto;
	width: 50px;
	/* height:50px; */
	transition: all .3s linear;
	filter:contrast(1%);
	-webkit-filter:contrast(1%);
}

.bottom-row{
	margin-bottom: 10px;
}

.skill-hover{
	font-size:1.5em;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

.img-contact {
	margin:0 auto;
	width:50px;
	height:auto;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	filter:contrast(0%);
	-webkit-filter:contrast(0%);
}
.img-contact:hover, .img-skill:hover {
	filter:contrast(100%);
	-webkit-filter:contrast(100%);
}

@media only screen and (max-width : 768px) {
	.iphone-container {
		display: none;
	}
	.project-btn a{
		min-width: 145px;
	}
	.name-intro{
		font-size:2.7em;
	}
	.my-container{
		max-width:60%;
		border-width:5px;
	}
	.img-skill{
		width: 40px;
	}
}