.bucket {
	position: fixed;
	bottom: 1.5em;
	right: 1.5em;
	z-index: 3;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	transition: all .3s ease-in-out;
	transition-delay: .5s;
	touch-actions: none;
	pointer-events: none;
	img {
		touch-actions: auto;
		pointer-events: auto;
		width: 3em;
		height: 3em;
		cursor: pointer;
		transition: all .3s ease-in-out, opacity .5s ease-in-out;
		border-radius: .5em;
		transform: rotate(0deg);
		flex-shrink: 0;
		background-position: center center;
		background-size: 100%;
		background-repeat: no-repeat;
		background-image: linear-gradient(0deg, $c-w, $c-w 50%);
		-webkit-background-clip: padding-box;
		&.dark {
			position: absolute;
			bottom: 0;
			right: 0;
			opacity: 0;
			touch-actions: none;
			pointer-events: none;
		}
	}
	

	.tooltip {
		margin-right: .5em;
		white-space: nowrap;
		padding: .25em .5em;
		border-radius: .5em;
		background-color: $c-w;
		transition: all .3s ease-in-out;
		opacity: 0;
		&:before {
			content: attr(data-hover)
		}
		@media (hover:none) {
			display: none;
		}
	}
	@media (hover:hover) {
		img:hover ~ .tooltip {
			opacity: 1;
		}
		img:hover {
			transform: rotate(-35deg);
			background-image: radial-gradient(circle at 0% 50%, var(--nc-0) 30%, $c-t 30%),
				radial-gradient(circle at 62% -12%, var(--nc-1) 37%, var(--nc-2) 40%, var(--nc-2) 50%, var(--nc-3) 50%, var(--nc-3) 62%, var(--nc-4) 62%);
		}
	}
	&.changing {
		img {
			transform: rotate(-100deg);
			background-image: radial-gradient(circle at 0% 50%, var(--nc-0) 30%, $c-t 30%),
				radial-gradient(circle at 62% -12%, var(--nc-1) 37%, var(--nc-2) 40%, var(--nc-2) 50%, var(--nc-3) 50%, var(--nc-3) 62%, var(--nc-4) 62%);
			@media (hover:none) {
				background-image: radial-gradient(circle at 0% 50%, $c-1 30%, $c-t 30%),
					radial-gradient(circle at 62% -12%, $c-2 37%, $c-3 40%, $c-3 50%, $c-4 50%, $c-4 62%, $c-5 62%);
			}
		}
		.tooltip {
			display: block;
			opacity: 1;
			&:before {
				content: attr(data-click);
			}
			@media screen and (max-width: 40em) {
				&:before {
					content: attr(data-tap);
				}
			}
		}
	}
	@media screen and (max-width: 56em) {
		img {
			width: 2.5em;
			height: 2.5em;
		}
	}
}