.bucket {
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 3em;
	height: 3em;
	z-index: 3;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	transition: all .3s ease-in-out;
	transition-delay: .5s;
	div .bucket-tooltip-assist, .bucket-tooltip-action {
		opacity: 0;
		margin-right: .5em;
		white-space: nowrap;
		padding: .25em .5em;
		border-radius: .5em;
		background-color: $color-white;
		transition: opacity .5s $ease-in-out-cubic;
	}
	img {
		border-radius: .5em;
		opacity: .4;
		width: 100%;
		cursor: pointer;
		transition: all .3s $ease-in-out-cubic;
		transform: rotate(0deg);
		flex-shrink: 0;
		&:hover {
			transform: rotate(-20deg);
		}
		&::selection {
			background-color: $color-transparent;
		}
	}
	.bucket-tooltip-action {
		display: none;
	}
	&.changing {
		div .bucket-tooltip-action {
			display: block;
			opacity: 1;
		}
		div .bucket-tooltip-assist {
			display: none;
		}
		img, img:hover {
			opacity: .6;
			transform: rotate(-45deg);
		}
	}
	@media screen and (max-width: 56em) {
		width: 2.5em;
		height: 2.5em;
		.bucket-tooltip-assist, .bucket-tooltip-action {
			top: 0;
			right: 3em;
		}
	}
}
#section-container.active .bucket {
	width: 2.25em;
	height: 2.25em;
	.bucket-tooltip-assist, .bucket-tooltip-action {
		top: 0;
		right: 3em;
	}
	@media screen and (max-width: 24em) {
		opacity: 0;
		touch-action: unset;
		pointer-events: unset;
	}
}