$colorWhite:  #fff;
$colorBlack:  #000;
$colorOne:    #EA4347;
$colorTwo:   #6DC1C5;
$colorThree:  #7FBF90;
$colorFour: #f7c83b;
$colorTransparent: rgba(0,0,0,0);

// Old
// $colorOne:    #b9433a;
// $colorTwo:   #4c61a1;
// $colorThree:  #46864f;
// $colorFour: #f7c83b;