
// Fixed colours
$color-white: #fff;
$color-black: #000;
$color-transparent: rgba(0,0,0,0);

// Dynamic colours
:root {
	--color-one:   $color-white;
	--color-two:   $color-white;
	--color-three: $color-white;
	--color-four:  $color-white;
}

// These variables are set using JS
$color-one:    var(--color-one);
$color-two:    var(--color-two);
$color-three:  var(--color-three);
$color-four:   var(--color-four);