@font-face {
	font-family: "Outfit";
	font-weight: 100 900;
	font-display: swap;
	src: url("/assets/fonts/Outfit-Variable.woff2") format("woff2");
}

@font-face {
	font-family: "Switzer";
	font-weight: 100 900;
	font-display: swap;
	src: url("/assets/fonts/Switzer-Variable.woff2") format("woff2");
}