@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ%21%40%23%24%25%5E%26%2A%28%29~%60%27%22%2C.%3C%3E%7B%7D%5B%5D%3F%2F%3A%3B%7C%5C_-%3D%2B');

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	html:after {
		content: 'Use a better browser to see this website. NASA uses Google Ultron. And yet here you are on IE';
		margin: 6em;
		position: absolute;
	}
	body {
		display: none;
	}
}

@import 'variables';
@import 'mixins';
@import 'animations';

@import 'navigation';
@import 'bucket';

@import 'section/container';
@import 'section/work';
@import 'section/skills';
@import 'section/photos';
@import 'section/about';

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Muli', sans-serif;
	background-color: $color-white;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.flexbox-grid {
	display: flex;
	.left-col, .right-col {
		box-sizing: border-box;
	}
	.left-col {
		width: 40%;
		padding-right: .5em;
	}
	.right-col {
		width: 60%;
		padding-left: .5em;
	}
	@media screen and (max-width: 40em) {
		display: block;
		.left-col, .right-col {
			width: 100%;
			padding: 0;
		}
	}
}

.container-width {
	max-width: 1000px;
	padding: 1em;
	margin: 0 auto;
}

.hidden {
	display: none;
}
a {
	color: $color-black;
	text-decoration: none;
	padding: 0 2px;
	border-bottom: 1px solid $color-black;
	position: relative;
	z-index: 1;
	&:hover {
		transition: all .2s $ease-in-out-cubic;
		color: $color-black;
	}
	&:hover:before {
		transform: scaleY(1);
	}
	&:before {
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		transition: all .2s $ease-in-out-cubic;
		transform: scaleY(0);
		transform-origin: 50% 100%;
	}
}

#hero {
	height: 24em;
	overflow-y: hidden;
	transition: all .6s $ease-in-out-cubic;
	transition-delay: .4s;
	padding: 0 1em;
	h1 {
		font-size: 4em;
		font-weight: 900;
		&>span {
			display: block;
			.ro {
				background-image: linear-gradient(0deg, $color-one, $color-one 50%, #000 50%);
			}
			.han {
				background-image: linear-gradient(0deg, $color-two, $color-two 50%, #000 50%);
			}
			.bhan {
				background-image: linear-gradient(0deg, $color-three, $color-three 50%, #000 50%);
			}
			.sali {
				background-image: linear-gradient(0deg, $color-four, $color-four 50%, #000 50%);
			}
			.ro, .han, .bhan, .sali {
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-size: 100% 200%;
				background-position: 0% 0%;
				transition: background-position .3s linear;
				&.wave {
					background-position: 100% 100%;
				}
				@supports (-ms-ime-align:auto) {
					background: none;
				}
				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					background: none;
				}
			}
		}
	}
	&.minimize {
		height: 0;
	}
	@media screen and (max-width: 24em) {
		padding: 0 2.5em;
	}
	@media screen and (max-width: 21em) {
		padding: 0 2em;
	}
	@media screen and (max-width: 19em) {
		padding: 0 1.5em;
		h1 {
			font-size: 3.5em;
		}
	}
}
/*
	RESPONSIVE BREAKS
	40em	640px	(Single column layout)
	24em	384px
	21em	336px
	19em	304px
*/