// scss --watch scss/main.scss:css/style.min.css --style compressed
@import url(https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789%21%22%25%26%27%28%29%2B%2C-.%2F%3A%3B%3C%3D%3E%3F%40%5B%5D_%7B%7D%E2%86%BB%E2%9E%94);

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	html:after {
		content: 'Use a better browser to see this website. NASA uses Google Ultron. And yet here you are on IE';
		margin: 6em;
		position: absolute;
	}
	body {
		display: none;
	}
}

@import 'variables';
@import 'mixins';
@import 'animations';

@import 'navigation';
@import 'bucket';

@import 'section/container';
@import 'section/work';
@import 'section/skills';
@import 'section/photos';
@import 'section/maps';
@import 'section/about';

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Muli', sans-serif;
	background-color: $c-w;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body.no-touching * {
	touch-actions: none;
	pointer-events: none;
}

.flexbox-grid {
	display: flex;
	.col {
		box-sizing: border-box;
		width: 50%;
		padding: 0 .5em;
		&.col-40 {
			width: 40%;
			overflow-x: hidden;
		}
		&.col-60 {
			width: 60%;
			overflow-x: hidden;
		}
		&.padding-top {
			padding-top: 4em;
		}
		&.padding-left {
			padding-left: 2em;
		}
		&.padding-right {
			padding-right: 2em;
		}
	}
	@media screen and (max-width: 40em) {
		display: block;
		.col.col-40, .col.col-60 {
			width: 100%;
			padding: 0;
		}
		.col.padding-top {
			padding-top: 1em;
		}
		.col.padding-right, .col.padding-left {
			padding-left: 0;
			padding-right: 0;
		}
	}
	@media screen and (min-width: 40em) {
		.col.sticky {
			position: -webkit-sticky;
			position: sticky;
			top: 2.8125em;
			align-self: flex-start;
		}
	}
}
.info-container {
	max-width: 650px;
	padding: 0 2em;
	margin: 0 auto;
	overflow-x: hidden;
	@media screen and (max-width: 40em) {
		padding: 0 1em;
	}
}
.info {
	margin: 0 auto 3em;
	line-break: normal;
	&.smaller {
		max-width: 500px;
	}
	p {
		line-height: 1.5em;
	}
}

.divider {
	border-right: 1px solid #eee;
	@media screen and (max-width: 40em) {
		border: none;
	}
}
.container-width {
	max-width: 1000px;
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
	@media screen and (max-width: 40em) {
		padding: 0 1em;
	}
}

.hidden {
	display: none;
}
@media screen and (max-width: 40em) {
	.hide-on-mobile {
		opacity: 0;
		&.completely {
			display: none;
		}
	}
}
@media screen and (min-width: 40em) {
	.hide-on-desktop {
		opacity: 0;
	}
}
a {
	color: $c-b;
	text-decoration: none;
	padding: 0 2px;
	border-bottom: 1px solid $c-b;
	position: relative;
	z-index: 1;
	&:hover {
		transition: all .3s linear;
		color: $c-b;
	}
	&:hover:before {
		transform: scaleY(1);
	}
	&:before {
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		transition: all .2s linear;
		transform: scaleY(0);
		transform-origin: 50% 100%;
	}
}

#hero {
	height: calc(var(--vh, 1vh) * 60);
	overflow-y: hidden;
	transition: all .6s $ease-in-out-cubic;
	transition-delay: .4s;
	padding: 0 1em;
	h1 {
		font-size: 4em;
		font-weight: 900;
		&>span {
			display: block;
			.ro {
				background-image: linear-gradient(0deg, $c-1, $c-1 50%, #000 50%);
			}
			.han {
				background-image: linear-gradient(0deg, $c-2, $c-2 50%, #000 50%);
			}
			.bhan {
				background-image: linear-gradient(0deg, $c-3, $c-3 50%, #000 50%);
			}
			.sa {
				background-image: linear-gradient(0deg, $c-4, $c-4 50%, #000 50%);
			}
			.li {
				background-image: linear-gradient(0deg, $c-5, $c-5 50%, #000 50%);
			}
			span {
				display: inline;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-size: 100% 200%;
				background-position: 0 0;
				transition: background-position .4s linear;
				&.wave {
					background-position: 100% 100%;
				}
				@supports (-ms-ime-align:auto) {
					background: 0 0;
				}
				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					background: 0 0;
				}
			}
		}
	}
	@media screen and (max-width: 24em) {
		padding: 0 2.5em;
	}
	@media screen and (max-width: 21em) {
		h1 {
			font-size: 3.5em;
		}
		padding: 0 2em;
	}
	@media screen and (max-width: 19em) {
		padding: 0 1.5em;
	}
}
/*
	RESPONSIVE BREAKS
	40em	640px	(Single column layout)
	24em	384px
	21em	336px
	19em	304px
*/