@use "sass:color";
/* 	Loop for delays
	&.delay-X {
		animation-delay: X ms;
	}
*/
@mixin delays($interval : 500, $start: 0, $total: 10) {
	@for $i from 0 through $total {
		$ms : $start + ($i * $interval);
		.delay-#{$ms} {
			animation-delay: #{$ms}ms;
		}
	}
}

@mixin navbar-bg($color) {
	border-bottom: .2em solid $color;
	&:before {
		background: $color;
	}
}

@mixin hyperlink($background-color) {
	border-color: $background-color;
	&:before {
		background-image: linear-gradient(0deg, $background-color 0%, $background-color 100%, $c-w 100%);
	}
}