html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Muli', sans-serif;
	background-color: $color-white;
}

.flexbox-grid {
	display: flex;
	.left-col, .right-col {
		box-sizing: border-box;
	}
	.left-col {
		width: 40%;
		padding-right: .5em;
	}
	.right-col {
		width: 60%;
		padding-left: .5em;
	}
}

.container-width {
	max-width: 1000px;
	padding: 1em;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 3.81em;
	align-self: flex-start;
}

#hero {
	height: 24em;
	overflow-y: hidden;
	transition: all .6s ease-in-out;
	transition-delay: .4s;
	padding: 0 1em;
	h1 {
		font-size: 4em;
		font-weight: 900;
		&>span {
			display: block;
			.ro::selection, .ro.wave {
				color: $color-one;
			}
			.han::selection, .han.wave {
				color: $color-two;
			}
			.bhan::selection, .bhan.wave {
				color: $color-three;
			}
			.sali::selection, .sali.wave {
				color: $color-four;
			}
		}
	}
	&.minimize {
		height: 0;
	}
}

#section-container {
	scroll-behavior: smooth;
	.title {
		margin-bottom: 2em;
		.text-container {
			font-size: 2em;
			font-weight: 900;
			padding: 0 .5em;
			text-align: center;
			position: relative;

			.text-underline {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
				transition: transform .4s ease-in-out;

				&.bg-one {
					width: 3.5em;
					background-image: linear-gradient(0deg, $color-transparent 0%, $color-one 0%, $color-one 20%, $color-transparent 20%);
				}
				&.bg-two {
					width: 3.5em;
					background-image: linear-gradient(0deg, $color-transparent 0%, $color-two 0%, $color-two 20%, $color-transparent 20%);
				}
				&.bg-three {
					width: 7.5em;
					background-image: linear-gradient(0deg, $color-transparent 0%, $color-three 0%, $color-three 20%, $color-transparent 20%);
				}
				&.bg-four {
					width: 5.5em;
					background-image: linear-gradient(0deg, $color-transparent 0%, $color-four 0%, $color-four 20%, $color-transparent 20%);
				}
			}
		}
	}
	#id-work *::selection {
		background-color: $color-one;
	}
	#id-skills *::selection {
		background-color: $color-two;
	}
	#id-photos *::selection {
		background-color: $color-three;
	}
	#id-about *::selection {
		background-color: $color-four;
	}
}

// 640px
@media screen and (max-width: 40em) {
	.flexbox-grid {
		display: block;
		.left-col, .right-col {
			width: 100%;
			padding: 0;
		}
	}
	.sticky.not-sticky-mobile {
		position: initial;
	}
}

// 384px
@media screen and (max-width: 24em) {
	#hero {
		padding: 0 2.5em;
	}
	#section-container {
		overflow-y: hidden;
	}
}

// 336px
@media screen and (max-width: 21em) {
	#hero {
		padding: 0 2em;
	}
}

// 304px
@media screen and (max-width: 19em) {
	#hero{
		padding: 0 1.5em;
		h1 {
			font-size: 3.5em;
		}
	}
}