@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800,900&display=swap');

$colorRed:    #b9433a;
$colorGreen:  #46864f;
$colorBlue:   #4c61a1;
$colorYellow: #f7c83b;
$colorWhite:  #fff;


html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Muli', sans-serif;
	background-color: $colorWhite;
	overflow-x: hidden;
	overflow-y: auto;
}

.container-width {
	max-width: 1000px;
	padding: 1em;
	margin: 0 auto;
}

h1 {
	font-size: 4em;
	font-weight: 900;

	span {
		display: block;
	}
}

#hero {
	padding-bottom: 10em;
}

@mixin animated-bg($color) {
	border-bottom: .2em solid $color;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $color;
		transform: scaleY(0);
		transform-origin: 50% 100%;
		transition: transform .4s cubic-bezier(0.77, 0, 0.175, 1);
	}
	span:before {
		content: attr(data-content)
	}
	&:hover, &.wave {
		color: $colorWhite;
	}
	&:hover:before, &.wave:before {
		transform: scaleY(1) skew(-7deg);
	}
	&.focused {
		span:before {
			content: '\00d7';
		}
	}
}

#navigation {
	position: relative;
	background-size: 100% 0;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: linear-gradient($colorWhite, $colorWhite);
	transition: background-size .4s linear;

	&.bg-red, &.bg-green, &.bg-blue, &.bg-yellow {
		background-size: 100% 100%;
		width: 100%;
	}
	&.bg-red {
		background-image: linear-gradient($colorRed, $colorRed);
	}

	&.bg-green {
		background-image: linear-gradient($colorGreen, $colorGreen);
	}

	&.bg-blue {
		background-image: linear-gradient($colorBlue, $colorBlue);
	}

	&.bg-yellow {
		background-image: linear-gradient($colorYellow, $colorYellow);
	}
	.section-nav {
		.section-title {
			cursor: pointer;
			font-size: 1.25em;
			padding: .5em 0;
			transform: translateX(0) translateY(0);

			span {
				display: inline-block;
				width: 4em;
				text-align: center;
			}

			&.bg-red {
				@include animated-bg($colorRed);
			}

			&.bg-green {
				@include animated-bg($colorGreen);
			}

			&.bg-blue {
				@include animated-bg($colorBlue);
			}

			&.bg-yellow {
				@include animated-bg($colorYellow);
			}
		}
	}
}

.hidden {
	display: none;
}

#section-container {
	.title {
		font-size: 3em;
		font-weight: 900;
		padding-bottom: .5em;
		position: relative;

		div {
			position: relative;
			z-index: 2;
			text-align: center;
			color: $colorWhite;
		}
		.stroke {
			position: absolute;
			top: 50%;
			left: 50%;
    		transform: translateY(-50%) translateX(-50%);
    		width: 100%;
    		max-width: 300px;
		}
	}
	#work *::selection {
		background-color: $colorRed;
		color: $colorWhite;
	}
	#skills *::selection {
		background-color: $colorBlue;
		color: $colorWhite;
	}
	#photos *::selection {
		background-color: $colorGreen;
		color: $colorWhite;
	}
	#about *::selection {
		background-color: $colorYellow;
	}
}

.flexbox-grid {
	display: flex;
	.left-col, .right-col {
		box-sizing: border-box;
	}
	.left-col {
		width: 40%;
		padding-right: .5em;
	}
	.right-col {
		width: 60%;
		padding-left: .5em;
		&.extra-padding {
			padding-left: 4em;
		}
	}
}

.work {
	border-radius: 4px;
	background-color: #eee;
	cursor: pointer;
	padding: .5em;
	margin: .5em 0;
	border: 2px solid transparent;
	transition: all .3s linear;

	.work-name {
		font-size: 1.1em;
		font-weight: 600;
	}
	.subtitle {
		font-size: .8em;
	}
	&:hover {	
		background-color: #ddd;
	}
	&:active, &.active {
		border: 2px solid $colorRed;
	}
}

.work-card-container{
	padding: 4em 2em 0;

	.card{
		max-width: 30em;
		margin: 1em auto;
		border: 2px solid #000;
		background-color: $colorWhite;
		border-radius: 4px;
		position: relative;

		.card-logo {
			position:absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: -4em;
			width: 8em;
			height: 8em;
			border-radius: 100px;
			background-size: cover;
		}

		.card-body {
			padding: 4.5em 1.5em 1.5em;

			.card-title, .card-subtitle, .card-dates, .card-stack {
				text-align: center;
			}
			.card-title {
				font-size: 1.2em;
				font-weight: 600;
			}
			.card-subtitle {
				color: #777;
			}
			.card-dates {
				padding-top: .25em;
				font-size: .7em;
				color: #AAA;
			}
			.card-blurb, .card-stack {
				font-size: .9em;
			}
			code {
				font-size: 1.2em;
			}
			ul {
				padding-inline-start: 1.2em;
			}
		}
	}
}
.divider {
	border-top: 1px solid #EEE;
	margin: .5em 2em;
}

#expensify .card-logo {
	background-image: url('../assets/logos/expensify.png');
}
#zappos .card-logo {
	background-image: url('../assets/logos/zappos.png');
}
#eazyfriday .card-logo {
	background-image: url('../assets/logos/eazyfriday.jpg');
}
#wustl .card-logo {
	background-image: url('../assets/logos/wustl.jpg');
}
#kraudesorce .card-logo {
	background-image: url('../assets/logos/kraudesorce.jpg');
}
#turnstyle .card-logo {
	background-image: url('../assets/logos/turnstyle.png');
}

.skill-title, .work-title, .form-title {
	font-weight: 800;
	font-size: 1.3em;
	padding: .5em 0;
}

.skill-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	text-align: center;
	padding: .5em;

	.skill {
		margin-bottom: .5em;

		.img-skill {
			margin:.5em 1em .25em;
			max-width:3em;
			transition:all .4s linear;
			filter:contrast(2%);

			&:hover {
				filter:contrast(100%);
			}
		}

		span {
			display: block;
			font-size: .8em;
			transition:all .3s linear;
			opacity: 0;
		}

		.img-skill:hover + span {
			opacity: 1;
		}
	}
}

.photo-modal {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: $colorWhite;
	z-index: 3;
	left: 0;
	top: 0;

	&.hidden {
		display: none;
	}

	.modal-content {
		display: block;
		width: 100%;
		margin: auto;

		.photo-container {
			height: 70vh;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.caption-container {
			width: 80%;
			display: flex;
			font-size: .8em;
			margin: auto;
			max-width: 1000px;
			padding-top:2em;
			justify-content:space-between;
			a {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}

#thumbnail-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	padding: 0;

	.thumb {
		box-sizing: border-box;
		border: .1em solid $colorWhite;
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(100% / 3);
		height: calc(100% / 3);
		overflow: hidden;
		img {
			transition: all .5s ease-in-out;
			width: 100%;
			cursor: pointer;
		}
		&:hover img {
			transform: scale(1.1);
		}
	}
}

.social {
	text-align: right;
	h2 {
		margin-bottom: 0;
	}

	a {
		color: #000;
		&:hover {
			background-color: $colorYellow;
			text-decoration-color: $colorYellow;
		}
	}
}

.about-blurb {
	p:nth-of-type(0) {
		margin-top: 0;
	}
	.tilt:hover {
		display: inline-block;
		transform: rotate(-20deg);
		transform-origin: 35% 50%;
		transition: transform .2s linear;
	}
}

.me {
	height: 20em;
	width: 100%;
	background-image: url('../assets/me.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	transition:background-image .3s ease-in-out;
	&:hover{
		background-image: url('../assets/me.gif');
	}
}

.fade-out-bottom {
	animation: fade-out-bottom .5s ease-in-out both;
}

@keyframes fade-out-bottom {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(100px);
		opacity: 0;
	}
}

.fade-in-bottom {
	animation: fade-in-bottom .5s ease-in-out both;
}

@keyframes fade-in-bottom {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 40em) {
	.flexbox-grid {
		display: block;
		.left-col, .right-col {
			width: 100%;
			padding: 0;
			&.extra-padding {
				padding: 0;
			}
		}
	}

	.container-width {
		padding: 1em;
	}

	.work-card-container {
		padding: 5em 0 0;
		.card {
			width: initial;
			.card-body {
				padding: 4.5em 1em 1em;
			}
		}
	}
	
	.skill-group {
		padding: .5em 0;
		.skill {
			.img-skill {
				max-width: 2em;
				margin: .25em .5em;
			}
			span {
				font-size: .7em
			}
		}
	}

	#thumbnail-container .thumb {
		width: 50%;
	}

	.photo-modal .modal-content .caption-container {
		padding-top:0;
	}

	.me {
		margin-top: 2em;
		max-height: 16em;
		background-position: center;
	}
}
@media screen and (max-width: 24em) {
	#navigation .section-nav .section-title {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 21em) {
	#navigation .section-nav .section-title {
		font-size: 1em;
	}
}
@media screen and (max-width: 19em) {
	h1 {
		font-size: 3.5em;
	}
	#navigation .section-nav .section-title {
		font-size: .9em;
	}
}