
// Fixed colours
$c-w: #fff;
$c-b: #000;
$c-t: rgba(0,0,0,0);

// Dynamic colours
:root {
	--c-0:  $c-w;
	--c-1:  $c-w;
	--c-2:  $c-w;
	--c-3:  $c-w;
}

// These variables are set using JS
$c-1: var(--c-0);
$c-2: var(--c-1);
$c-3: var(--c-2);
$c-4: var(--c-3);

$ease-in-out-cubic: cubic-bezier(.65, 0, .35, 1);