#id-about {
	.right-col {
		padding-left: 4em;
		@media screen and (max-width: 40em) {
			padding-left: 0;
		}
	}
	.social {
		text-align: right;
		h2 {
			margin-bottom: 0;
		}

		a {
			@include hyperlink($color-four);
		}
		.mobile-only {
			display: none;
			@media screen and (max-width: 45em) {
				display: initial;
			}
		}
	}

	.about-blurb {
		.tilt {
			display: inline-block;
			transform-origin: 30% 50%;
			transition: transform .2s $ease-in-out-cubic;
			&:hover {
				transform: rotate(-20deg);
				
			}
		}
	}

	.me {
		width: 100%;
		margin: 1.25em 0;
		position: relative;
		#me-gif, #me-jpg {
			width: 100%;
		}
		#me-gif {
			position: absolute;
			right: 0;
			top: 0;
			opacity: 0;
			transition: opacity .3s ease-in-out;
			&:hover{
				opacity: 1;
			}
		}
	}
}