#section-container {
	scroll-behavior: smooth;
	.title {
		margin:1em auto 2em;
		text-align: center;
		.text-container {
			font-size: 2em;
			font-weight: 900;

			.text-underline {
				overflow: hidden;
				transform-origin: left bottom;
				border-bottom: .25em solid $c-w;
				margin: 0 auto;
				&.bg-1 {
					width: 3.5em;
					border-color: $c-1;
				}
				&.bg-2 {
					width: 3.5em;
					border-color: $c-2;
				}
				&.bg-3 {
					width: 4.5em;
					border-color: $c-3;
				}
				&.bg-4 {
					width: 3.5em;
					border-color: $c-4;
				}
				&.bg-5 {
					width: 5.5em;
					border-color: $c-5;
				}
				.text {
					display: block;
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				}
			}
		}
	}
	.container-width {
		text-align: unset;
	}
	#id-work *::selection {
		background-color: $c-1;
	}
	#id-skills *::selection {
		background-color: $c-2;
	}
	#id-photos *::selection {
		background-color: $c-3;
	}
	#id-maps *::selection {
		background-color: $c-4;
	}
	#id-about *::selection {
		background-color: $c-5;
	}
	@media screen and (max-width: 24em){
		overflow-y: hidden;
	}
}