.thumbnails {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	padding: 0;

	.thumb-container {
		position: relative;
		border: .1em solid $c-w;
		box-sizing: border-box;

		width: calc(100% / 3);
		height: 0;
		padding-bottom: calc(200% / 9);

		overflow: hidden;
		
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		.placeholder {
			z-index: 2;
			opacity: 1;
			transition: opacity .5s linear, transform .3s ease-in-out;
		}
		.thumb {
			filter: blur(2px);
			transition: filter .2s linear .5s, transform .3s ease-in-out;
		}
		@media (hover:hover) {
			&:hover img {
				transform: scale(1.1);
			}
		}
		@media screen and (max-width: 40em) {
			width: 50%;
			padding-bottom: calc(100% / 3);
			border-width: 1px;
			&:nth-of-type(2n + 1) {
				border-left: none;
			}
			&:nth-of-type(2n) {
				border-right: none;
			}
		}
	}
}

.photo-modal {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);				// https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
	transition: height .1s linear;
	background-color: $c-w;
	z-index: 4;
	left: 0;
	top: 0;
	box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);

	&.hidden {
		display: none;
	}

	&.loaded .modal-content{
		.photo-container .loading {
			opacity: 0;
		}
		.button-container {
			opacity: 1;
			.modal-next-btn, .modal-prev-btn {
				cursor: pointer;
				touch-action: initial;
				pointer-events: initial;
				color: #000;
				text-decoration: underline;
			}
		}
	}

	.modal-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
		align-items:center;
		justify-content: center;
		&.no-staggered-delays .photo-container .loading .bars .bar:nth-of-type(n) {
			animation-delay: .5s
		}

		.photo-container {
			height: 80vh;
			width: 100vw;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			position: relative;
			.loading {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $c-w;
				transition: all .5s $ease-in-out-cubic;
				.bars div {
					display: inline-block;
					padding-right: 5px;
					height: 40px;
					animation: loading 1.25s infinite ease-in-out both;
					transition: transform .5s cubic-bezier(.79,-0.26,.08,1);
					&:nth-of-type(1){
						background-color: $c-1;
						animation-delay: .5s;
					}
					&:nth-of-type(2){
						background-color: $c-2;
						animation-delay: .6s;
					}
					&:nth-of-type(3){
						background-color: $c-3;
						animation-delay: .7s;
					}
					&:nth-of-type(4){
						background-color: $c-4;
						animation-delay: .8s;
					}
					&.done {
						animation: none;
						transform: translateY(100vh);
					}
				}
			}
			@media screen and (max-width: 40em) {
				height: 60vh;
			}
		}
		.caption-container, .button-container {
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: .8em;
			margin: auto;
			max-width: 1000px;
			padding: 2em 0 1em;
			@media screen and (max-width: 40em) {
				padding: 1em 0;
				height: 10vh;
				width: 80%;
			}
		}
		.caption-container {
			.caption {
				width: 100%;
			}
			.modal-close-btn {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.button-container {
			padding: 1em 0 2em;
			transition: all .5s ease-in-out;
			.modal-next-btn, .modal-prev-btn, .modal-next-btn.disabled, .modal-prev-btn.disabled {
				touch-action: none;
				pointer-events: none;
				text-decoration: none;
				color: #AAA;
			}
		}
	}
}