#id-skills {
	margin: 0 auto;

	.skill-title {
		text-transform: uppercase;
		font-size: .75em;
		letter-spacing: 2px;
		color: #777;
		font-weight: 700;
		margin-bottom: 1em;
	}

	.skill-group {
		margin-bottom: 1.5em;
		.icons {
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			.skill {
				display: block;
				position: relative;
				flex-direction: column;
				overflow: visible;
				max-width: 4em;
				padding: 0 .4em;
				.img-skill {
					margin: .5em .75em;
					max-width: 2.5em;
					transition: all .4s ease-in-out;
					filter: contrast(45%);
				}
				&:hover, &.hovered {
					.img-skill {
						filter: contrast(100%);
					}
					span {
						opacity: 1;
					}
					div {
						opacity: 1;
					}
				}
				&.wider {
					max-width: 5em;
				}
				span {
					display: block;
					font-size: .8em;
					transition: all .3s ease-in-out;
					opacity: 0;
					line-break: normal;
				}
				& > div {
					position: absolute;
					width: 4em;
					height: 4em;
					top: 0;
					left: 50%;
					transform: translate(-2em, -.25em);
					background-color: #fff;
					transition: opacity .3s ease-in-out;
					border-radius: 50%;
					opacity: 0;
				}
			}	
		}
	}
	@media screen and (max-width: 40em) {
		.skill-title {
			margin: 0 1em;
		}
		.skill-group {
			margin-bottom: 0;
			.icons {
				padding: .5em 0;
				.skill {
					max-width: 3em;
					.img-skill {
						max-width: 2em;
						margin: .25em .5em;
					}
					span {
						font-size: .7em
					}
				}
			}
		}
	}
}