#id-work {
	.work-title {
		font-size: .75em;
		font-weight: 400;
		letter-spacing: 2px;
		margin: 2.5em 0 .5em;
		color: #777;
		text-transform: uppercase;
	}
	.work {
		border-radius: 4px;
		background-color: #eee;
		cursor: pointer;
		padding: .5em;
		margin: .5em 0;
		border: 2px solid transparent;
		transition: all .3s ease-in-out;

		.work-name {
			font-size: 1.1em;
			font-weight: 700;
		}
		.subtitle {
			font-size: .8em;
		}
		&:hover {
			background-color: #ddd;
		}
		&:active, &.active {
			border: 2px solid $c-1;
		}
	}

	.work-card-container{
		padding: 4em 2em 0;

		.card{
			max-width: 30em;
			margin: 1em auto;
			border: 2px solid $c-b;
			background-color: $c-w;
			border-radius: 4px;
			position: relative;
			display: block;

			&.hidden {
				display: none;
			}

			.card-logo {
				position:absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: -4em;
				width: 8em;
				height: 8em;
				border-radius: 100px;
				border: 2px solid $c-b;
				background-color: white;
				background-size: cover;
			}

			.card-body {
				padding: 4.5em 1.5em 1.5em;

				.card-title, .card-subtitle, .card-dates, .card-stack {
					text-align: center;
				}
				.card-title {
					font-size: 1.2em;
					font-weight: 700;
				}
				.card-subtitle {
					color: #777;
				}
				.card-dates {
					padding-top: .25em;
					font-size: .7em;
					color: #AAA;
				}
				.card-blurb, .card-stack {
					font-size: .9em;
				}
				.divider {
					border-top: 1px solid #EEE;
					margin: .5em 2em;
				}
				code {
					font-size: 1.2em;
				}
				ul {
					padding-inline-start: 1.2em;
				}
				a {
					@include hyperlink($c-1);
				}
			}
		}
		@media screen and (max-width: 40em) {
			padding: 5em 0 0;
			.card {
				width: initial;
				.card-body {
					padding: 4.5em 1em 1em;
				}
			}
		}
	}

	#expensify .card-logo {
		background-image: url('../assets/logos/expensify.png');
	}
	#zappos .card-logo {
		background-image: url('../assets/logos/zappos.png');
	}
	#eazyfriday .card-logo {
		background-image: url('../assets/logos/eazyfriday.jpg');
	}
	#wustl .card-logo {
		background-image: url('../assets/logos/wustl.jpg');
	}
	#kraudesorce .card-logo {
		background-image: url('../assets/logos/kraudesorce.jpg');
	}
	#turnstyle .card-logo {
		background-image: url('../assets/logos/turnstyle.png');
	}
}