#id-work {
	.work-title {
		font-size: .75em;
		font-weight: 400;
		letter-spacing: 2px;
		margin: 2.5em 0 .5em;
		color: #777;
		text-transform: uppercase;
	}
	.work {
		cursor: pointer;
		padding: .5em;
		margin: .5em 0;
		border-left: 4px solid transparent;
		transition: all .5s ease-in-out;

		.work-name {
			font-size: 1.1em;
			font-weight: 700;
			opacity: 1;
		}
		.subtitle {
			font-size: .8em;
			opacity: 1;
		}
		&:hover {
			border-color: $c-1;
			opacity: .3;
		}
		&:active, &.active {
			border-color: $c-1;
		}
	}
	.divider {
		border-right: 1px solid #eee;
		@media screen and (max-width: 40em) {
			border: none;
		}
	}
	.work-card-container{
		padding: 2em 2em 0;

		.card{
			max-width: 30em;
			margin: 1em auto 0;
			display: block;
			padding: 1.5em;

			&.hidden {
				display: none;
			}
			.heading {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.logo {
					img {
						width: 5em;
						height: 5em;
						border-radius: 5em;
					}
					padding-right: 1em;
					@media screen and (max-width: 40em) {
						padding-right: 0;
					}
				}
				.company {
					font-size: 1.2em;
					font-weight: 700;
				}
				.position {
					color: #777;
				}
				.dates {
					padding-top: .25em;
					font-size: .7em;
					color: #AAA;
				}
			}
			.blurb {
				margin: 2em 0;
				font-size: .9em;
				.subheading {
					font-weight: 700;
				}
				ul {
					padding-inline-start: 1.5em;
				}
				a {
					@include hyperlink($c-1);
				}
			}
		}
		@media screen and (max-width: 40em) {
			padding: 1em 0 0;
			.card {
				&.hidden {
					border: none;
				}
				border-top: 1px solid #EEE;
				width: initial;
			}
		}
	}
}