@import url('https://fonts.googleapis.com/css?family=Gaegu&display=swap');

body {
	font-family: 'Gaegu', cursive;
	/*background-color: #000;*/
}

.name {
	font-size: 10em;
	text-align: center;
	color: rgba(0, 0, 0, 0.85);
	letter-spacing: 0.1em;
	font-weight: 900;
	animation: name-glow 2s linear alternate infinite;
}

@keyframes name-glow {
    0% {
    	text-shadow: 
			0 0 0 rgba(251, 32, 59, 0.85),
			0 0 0 rgba(44, 252, 253, 0.85), 
			0 0 0 rgba(254, 252, 75, 0.85), 
			0 0 0 rgba(229, 62, 244, 0.85),
			0 0 0 rgba(4, 33, 227, 0.85),
			0 0 0 rgba(115, 238, 72, 0.85);
    }

    33% {
    	text-shadow: 
			0.05em 0.065em 0 rgba(251, 32, 59, 0.85),
			-0.085em 0.07em 0 rgba(44, 252, 253, 0.85), 
			0.035em -0.08em 0 rgba(254, 252, 75, 0.85), 
			-0.045em -0.085em 0 rgba(229, 62, 244, 0.85),
			-0.03em 0.09em 0 rgba(4, 33, 227, 0.85),
			0.09em 0 0 rgba(115, 238, 72, 0.85);

    }

    67% {
    	text-shadow: 
			-0.05em 0.045em 0 rgba(251, 32, 59, 0.85),
			0.05em -0.055em 0 rgba(44, 252, 253, 0.85), 
			-0.055em -0.095em 0 rgba(254, 252, 75, 0.85), 
			0.065em 0.025em 0 rgba(229, 62, 244, 0.85),
			0.01em -0.095em 0 rgba(4, 33, 227, 0.85),
			-0.025em 0.08em 0 rgba(115, 238, 72, 0.85);
    }

    100% {
    	text-shadow: 
			0 0 0 rgba(251, 32, 59, 0.85),
			0 0 0 rgba(44, 252, 253, 0.85), 
			0 0 0 rgba(254, 252, 75, 0.85), 
			0 0 0 rgba(229, 62, 244, 0.85),
			0 0 0 rgba(4, 33, 227, 0.85),
			0 0 0 rgba(115, 238, 72, 0.85);
    }
}